<div class="side-menu-card d-flex-column">
  <div class="side-menu-top-section">
    <div class="logo-section-box">
      <img class="logo-image" src="logo-mci-dark.svg" />
    </div>

    <!-- <div class="avatar-section-box">
      <div class="avatar-section">
        <div class="avatar-image-box">
          <img class="avatar-icon" src="/layout-imgs/user.png" />
        </div>
      </div>

      <div>
        <div class="userTitle">
          <span>محمد جواد شیری</span>
        </div>
      </div>
    </div> -->
  </div>

  <div class="flex-1 mx-12">
    <app-side-menu-tree></app-side-menu-tree>
  </div>

  <!-- <div class="d-f-c-c">
    <p-toggleswitch (onChange)="toggleDarkMode()" />
  </div> -->
</div>
