@font-face {
    font-family: "IRANYekan";
    src: url("../../../assets/fonts/IRANYekan.ttf") format("woff2");
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "IRANSans";
    src: url("../../../assets/fonts/IranSans.ttf") format("woff2");
    font-style: normal;
    font-display: swap;
}